<!-- ================= HERO SECTION ================= -->
<section class="hero">
  <div class="hero-overlay"></div>

  <div class="hero-content">
    <h1>Famigo <span>Holidays</span></h1>
    <h2>Crafting Journeys • Creating Memories</h2>

    <p>
      Luxury Religious Tours • Honeymoon Escapes • Family & Group Trips
    </p>

    <div class="hero-buttons">
      <button class="btn primary-btn" routerLink="/packages">Explore Packages</button>
      <button class="btn secondary-btn" routerLink="/contact">Plan Your Trip </button>
    </div>
  </div>
</section>
